.input-group{
    margin:5%;
}

.btn{
    margin:1%;
}

.table{
    width: 0%;
}

td, th{
    text-align: center;
}

tr{
    margin: 10%;
}

.table-wrapper-scroll-y{
    display: block;
}

.my-custom-scrollbar{
    position: relative;
    height: 400px;
    overflow: auto;
}