<div class="container section">
  <div class="d-flex ">
    <div class="input-group input-group-sm col-sm-6">
      <div class="input-group-prepend">
        <span class="input-group-text">
            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
            </svg>
        </span>
      </div>
      <input  type="text" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost" class="form-control fix-rounded-right">
    </div>
  </div>
  <div class="table-responsive-xl table-hover">
    <table id="example" class="table table-bordered table-striped">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Edad</th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let usuario of this.empService.usuarios | filter:filterPost">
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.edad }}</td>
            <td>
              <button  (click)="edit(usuario.id, usuario.nombre, usuario.apellido, usuario.edad)" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal1">
                <svg class="bi bi-pencil" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                </svg>
              </button>
              <app-usuario-edit></app-usuario-edit>
              <a class="btn btn-danger" type=button (click)="deleteEmployee(usuario.id)">
                <svg class="bi bi-trash" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </div>
    </table>  
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {    
    $('#example').DataTable();     
});
</script>