<div class="container">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark shadow-lg ">
            <div class="col-sm">
                <img src="../assets/imagenes/Angular.png" alt="image Responsive" width="50%" height="6%">
            </div>
            <div class="col-sm">
                <h1 class="navbar-brand align-middle ">Registro de Usuarios</h1>
            </div>
            <div class="col-sm">
                <img src="../assets/imagenes/crud.png" alt="image Responsive" width="50%" height="6%">
            </div>
        </nav>
        <div class="col-sm">
            <app-usuario-list></app-usuario-list>
        </div>
        <div class="col-sm">
            <app-usuario-create></app-usuario-create>
        </div>
    </div>
</div>