<!-- Modal -->
  
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="form-group row">
              <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="form.nombre" name="nombre" >
              </div>
            </div>
            <div class="form-group row">
              <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="form.apellido" name="apellido" >
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEdad" class="col-sm-2 col-form-label">Edad</label>
              <div class="col-sm-10">
                <input type="number" [(ngModel)]="form.edad" class="form-control" name="edad" >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='edit()'>Guardar</button>
        </div>
      </div>
    </div>
  </div>
