<!-- Modal -->
<div class="d-flex justify-content-around">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
      </svg>
      Agregar Registro
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Usario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="form.nombre" name="nombre" id="inputNombre" >
                </div>
              </div>
              <div class="form-group row">
                <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="form.apellido" name="apellido" id="inputApellido">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEdad" class="col-sm-2 col-form-label">Edad</label>
                <div class="col-sm-10">
                  <input type="number" [(ngModel)]="form.edad" class="form-control" name="edad" id="inputEdad">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='accion()'>Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>